<% title "My Links" %>
<% if @links.empty? -%>
  <p>You currently have no links awaiting their fate</p>
<% else -%>
  <ul>
  <% @links.each do |link| -%>
    <li>
      <%= link_to h(link.title), link_path(link) %> - 
      <%= link_to 'Edit', edit_link_path(link), :class => 'editLink' %>
    </li>
  <% end -%>
  </ul>
<% end -%>