<% title "My Linkatory" %>
<% if @links.empty? -%>
  <p>You currently have no links awaiting their fate</p>
<% else -%>
  <ul>
  <% @links.each do |link| -%>
    <li><%= link_to h(link.title), link_path(link) %></li>
  <% end -%>
  </ul>
<% end -%>

